@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --color-text-heading: var(--color-dark-grayish-blue);
  --color-text-main: var(--color-dark-blue);

  /* colour */
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-dark-blue: hsl(214, 17%, 51%);
  --color-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-light-grayish-blue);
}
/* Common */
.title {
  color: var(--color-text-heading);
  font-weight: 700;
}
.btn {
  width: 35px;
  height: 35px;
  font-size: 1rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;
}
/*  */
.card {
  position: relative;
  width: min(85%, 350px);
  margin-block: 4rem;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.hero {
  display: block;
  width: 100%;
  height: clamp(180px, 50vw, 400px);
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.card__main {
  margin: 2.5rem 2rem 1.2rem;
  color: var(--color-text-main);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.main__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.main__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.profile__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile__text {
  line-height: 1.8;
}
.profile__btn {
  background: var(--color-light-grayish-blue);
  color: var(--color-text-main);
  z-index: 10;
}
.profile__btn.active {
  background: var(--color-dark-blue);
  color: var(--color-light-grayish-blue);
}
.share-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(2.2rem + 47px);
  display: none;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background: var(--color-dark-grayish-blue);
  border-radius: 0 0 8px 8px;
}
.share-box.open {
  display: flex;
}
.share__text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-grayish-blue);
  font-size: 13px;
  font-weight: 500;
}
.share__links {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  list-style: none;
}
.link a {
  color: var(--color-white);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 1024px) {
  .card {
    display: flex;
    width: min(80%, 850px);
  }
  .hero {
    width: 40%;
    height: clamp(180px, 50vw, 350px);
    object-position: left;
  }
  .card__main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-inline: 2.5rem;
    font-size: 1rem;
  }
  .main__title {
    font-size: 1.3rem;
  }
  .share-box {
    right: 0;
    transform: translate(60px, -110px);
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
  }
  .share-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: var(--color-dark-grayish-blue);
    transform: translate(80px, 10px) rotate(45deg);
    z-index: -1;
  }
}
