:root {
  --colour-bg: var(--colour-red);
  --text-primary: #fff;

  --colour-red: hsl(0, 100%, 74%);
  --colour-green: hsl(154, 59%, 51%);
  --colour-purple-dark: hsl(248, 32%, 49%);
  --colour-gray: hsl(249, 10%, 26%);
  --colour-purple-light: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
  background: var(--colour-bg) url('/images/bg-intro-mobile.png') center / cover
    repeat;
  text-align: center;
  color: var(--text-primary);
  line-height: 1.5;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
/* header */
.header {
  margin-bottom: 4rem;
}
.header__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/* main */
.main__copy {
  padding-block: 1rem;
  background-color: var(--colour-purple-dark);
  border-radius: 12px;
  line-height: 1.5;
}
.copy__content-strong {
  font-weight: 700;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
