:root {
  --color-accent: var(--soft-red);

  --text-primary: var(--very-dark-blue);
  --text-primary-variant: var(--dark-grayish-blue);
  --text-seconday: var(--off-white);

  /* Colour */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* Size */
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* animation */
  --animation-duration: 300ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  padding: var(--space-lg) var(--space-md);
}
body.overlay::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.3rem;
  cursor: pointer;
}
p {
  color: var(--text-primary-variant);
  font-size: 15px;
  line-height: 1.8;
}
/* Common */
.section {
  margin-bottom: var(--space-xl);
}
/* Header */
.news__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(var(--space-xl) * 2);
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  padding: var(--space-lg);
  background-color: var(--off-white);
}
.open {
  display: flex;
}
.nav__lists {
  width: 100%;
  font-size: 1.2rem;
}
.lists__item {
  margin-bottom: var(--space-md);
}
.lists__item a {
  text-decoration: none;
  color: var(--text-primary);
  transition: all var(--animation-duration) ease;
}
.lists__item a:active {
  color: var(--color-accent);
}
/* Headline*/
.main__headline {
  width: 100%;
}
.headline__hero {
  display: block;
  width: 100%;
}
.headline__title {
  width: 80%;
  margin-block: var(--space-sm);
  color: var(--text-primary);
  font-size: 2.4rem;
}
.headline__btn {
  margin-top: var(--space-md);
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--color-accent);
  color: var(--text-primary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: all var(--animation-duration) ease;
}
.headline__btn:active {
  color: var(--text-seconday);
  background-color: var(--text-primary);
}
/* New */
.main__new {
  background-color: var(--very-dark-blue);
  padding: var(--space-md) var(--space-sm);
}
.new__article::after {
  content: '';
  display: block;
  height: 1px;
  margin-block: var(--space-md);
  background-color: var(--text-primary-variant);
}
.new__title {
  color: var(--soft-orange);
  margin-bottom: var(--space-md);
}
.title--accent {
  color: var(--off-white);
  margin-bottom: calc(var(--space-sm) / 2);
  transition: all var(--animation-duration) ease;
}
.title--accent:active {
  color: var(--soft-orange);
}
/* Popular */
.popular__article {
  width: 100%;
  /* height: 130px; */
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}
.popular__img {
  display: block;
  width: 30%;
}
.popular__number {
  color: var(--color-accent);
}
.popular__title {
  font-size: 1.1rem;
  margin-block: calc(var(--space-sm) / 2);
  transition: all var(--animation-duration) ease;
}
.popular__title:active {
  color: var(--color-accent);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* hover */
@media (hover: hover) {
  .lists__item a:hover {
    color: var(--color-accent);
  }
  .headline__btn:hover {
    color: var(--text-seconday);
    background-color: var(--text-primary);
  }
  .title--accent:hover {
    color: var(--soft-orange);
  }
  .popular__title:hover {
    color: var(--color-accent);
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: var(--space-xl);
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.5rem;
  }
  .nav__lists {
    font-size: 1.8rem;
  }
  .headline__title {
    margin-block: var(--space-lg);
    font-size: 3rem;
  }
  .main__new {
    padding: var(--space-lg);
  }
  .popular__title {
    font-size: 1.8rem;
    margin-block: var(--space-sm);
  }
}
/* To do desktop  */
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
  }
  .header__menubar,
  .nav__close-btn {
    display: none;
  }
  .news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    padding: 0;
    background: transparent;
  }
  .nav__lists {
    display: flex;
    gap: var(--space-md);
    font-size: 1.2rem;
  }
  .lists__item {
    margin: 0;
  }
  .lists__item a {
    color: var(--text-primary-variant);
  }
  /* Main */
  .news__main {
    display: grid;
    grid-template: 3fr 1fr / 3fr 1fr;
  }
  .headline__wrapper {
    display: grid;
    grid-template: auto auto / 0.8fr 1fr;
    column-gap: var(--space-sm);
    margin-top: var(--space-lg);
  }
  .headline__title {
    grid-row: 1 / -1;
    line-height: 1;
    margin: 0;
  }
  .headline__btn {
    width: fit-content;
    height: fit-content;
    margin-top: 0;
  }
  .main__popular {
    grid-column: span 2;
  }
}
