:root {
  --color-accent: var(--soft-red);

  --text-primary: var(--very-dark-blue);
  --text-primary-variant: var(--dark-grayish-blue);
  --text-seconday: var(--off-white);

  /* Colour */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* Size */
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  padding: var(--space-lg) var(--space-md);
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  color: var(--text-primary-variant);
  font-size: 15px;
  line-height: 1.8;
}
/* Common */
.section {
  margin-bottom: var(--space-xl);
}
.title--accent {
  color: var(--off-white);
  margin-bottom: calc(var(--space-sm) / 2);
}

/* Header */
.news__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  position: absolute;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-end;
  gap: calc(var(--space-xl) * 2);
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  padding: var(--space-lg);
  background-color: aqua;
}
.nav__lists {
  width: 100%;
  font-size: 1.2rem;
}
.lists__item {
  margin-bottom: var(--space-md);
}
/* Headline*/
.main__headline {
  width: 100%;
}
.headline__hero {
  display: block;
  width: 100%;
}
.headline__title {
  width: 80%;
  margin-block: var(--space-sm);
  color: var(--text-primary);
  font-size: 2.4rem;
}
.headline__btn {
  margin-top: var(--space-md);
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--color-accent);
  color: var(--text-primary);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
/* New */
.main__new {
  background-color: var(--very-dark-blue);
  padding: var(--space-md) var(--space-sm);
}
.new__article::after {
  content: '';
  display: block;
  height: 1px;
  margin-block: var(--space-md);
  background-color: var(--text-primary-variant);
}
.new__title {
  color: var(--soft-orange);
  margin-bottom: var(--space-md);
}
/*  */
.popular__article {
  width: 100%;
  height: 130px;
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}

.popular__img {
  display: block;
  width: 30%;
}
.popular__number {
  color: var(--color-accent);
}
.popular__title {
  font-size: 1.1rem;
  margin-block: calc(var(--space-sm) / 2);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
