:root {
  --bg-accent: hsl(217, 12%, 63%, 0.1);
  /* colour */
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);

  /* Size */
  --base-space: 0.5rem;

  /* animation */
  --animation-duration: 300ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-950);
}
ul {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
/* Common */
.title {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
}
.content {
  color: var(--grey-500);
  line-height: 1.5;
}
/*  */
.rating {
  width: 90%;
  max-width: 400px;
  padding: calc(var(--base-space) * 4) calc(var(--base-space) * 3);
  background: var(--grey-900);
  background: linear-gradient(
    169deg,
    rgba(37, 43, 51, 1) 43%,
    rgba(17, 19, 22, 1) 100%
  );
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  font-size: 15px;
}
.rating__icon {
  width: 40px;
  height: 40px;
  background-color: var(--bg-accent);
  padding: 0.8rem;
  border-radius: 50%;
}
.rating__title {
  margin-block: calc(var(--base-space) * 2);
}
.rating__content {
  color: var(--grey-500);
  line-height: 1.5;
}
.rating__list {
  display: flex;
  justify-content: space-between;
  margin-block: calc(var(--base-space) * 3);
}
.rating__list li {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-accent);
  border-radius: 50%;
  color: var(--grey-500);
  font-weight: 700;
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}
.rating__list li:active {
  background-color: var(--orange-500);
  color: var(--grey-950);
}
.rating__list li.rating--clicked {
  background-color: var(--white);
  color: var(--grey-950);
}
.rating__btn {
  width: 100%;
  display: block;
  padding-block: calc(var(--base-space) * 2);
  border-radius: 2rem;
  color: var(--grey-950);
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--orange-500);
  font-weight: 700;
  letter-spacing: 2px;
  transition: all var(--animation-duration) ease;
}
.rating__btn:active {
  background-color: var(--white);
}
/* Thank you card */
.thank__img {
  display: block;
  margin: auto;
}
.thank__wrapper {
  margin-top: calc(var(--base-space) * 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--base-space) * 3);
  font-size: 15px;
  font-weight: 400;
}
.thank__score {
  padding: var(--base-space) calc(var(--base-space) * 2);
  border-radius: 2rem;
  background-color: var(--bg-accent);
  color: hsl(25, 70%, 45%);
}
.thank__content {
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (hover: hover) {
  .rating__list li:hover {
    background-color: var(--orange-500);
    color: var(--grey-950);
  }
  .rating__btn:hover {
    background-color: var(--white);
  }
}
